torch>=2.0.0
torchvision>=0.15.0
ast
asyncio
bertopic
botometer
beautifulsoup4
collections
community
concurrent
csv
datetime
difflib
emoji
fitter
glob
hdbscan
igraph
imblearn
itertools
json
langid
leidenalg
math
matplotlib
networkx
nltk
numba
numpy
nxviz
pandas
perspective
pickle
pyarrow
pylab
random
re
requests
scipy
seaborn
openai
selenium
sentence-transformers
simpletransformers
sklearn
statistics
statsmodels
stopwords_hindi
summarizer
sys
time
tokenizers
tqdm
traceback
transformers
ttictoc
tweepy
tweetnlp
twikit
webbrowser
whisper
xgboost
